<footer class="footer">
    <div class="container-md-fluid container-sm-fluid">
        <div class="footer-info d-flex justify-content-s-b">
            <div class="footer-navNcontact ">
                <ul class="footer-nav d-flex fs-16 ">
                    <li><a href="https://liu61024.github.io/week4/">首頁</a></li>
                    <li><a href="#">系列鏡框</a></li>
                    <li><a href="https://liu61024.github.io/week4/store.html">門市據點</a></li>
                    <li><a href="#">部落格</a></li>
                    <li><a href="https://liu61024.github.io/week4/FAQ.html">常見問題</a></li>
                </ul>
                <ul class="footer-contact">
                    <li class="d-flex align-items-c">
                        <img class="footer-contact-img" src="../assets/images/call_24dp_WHITE.svg" alt="call">
                        <p>0800-000-000</p>
                    </li>
                    <li class="d-flex align-items-c">
                        <img class="footer-contact-img" src="../assets/images/email_24dp_WHITE.svg" alt="mail">
                        <p>glasses@business.com</p>
                    </li>
                </ul>
            </div>
            <div class="footer-icon ">
                <ul class="d-flex justify-content-f-e">
                    <li><a href="#"><img src="../assets/images/ic-social-fb.png" alt="fb"></a></li>
                    <li><a href="#"><img src="../assets/images/ic_social_ig.png" alt="ig"></a></li>
                    <li><a href="#"><img src="../assets/images/ic_social_line.png" alt="line"></a></li>
                </ul>
            </div>
        </div>
        <div class="footer-right d-flex justify-content-s-b align-items-c fs-16">
            <p>Copyright © 2020 Glasses.All rights reserved.</p>
            <div class="footer-right-info d-flex justify-content-s-b align-items-c">
                <a href="#">隱私權政策</a>
                <a href="#">服務條款</a>
            </div>
        </div>
    </div>
  </footer>