<header class="header">
    <div class="header-nav container-sm-fluid d-flex justify-content-s-b align-items-c ">
        <div class="logo-img">
            <a href=" https://liu61024.github.io/week4/"><img src="../assets/images/logo-white.png" alt="logo"></a>
        </div>
        <div class="nav">
            <ul class="nav-list d-flex flex-wrap-w">
                <li><a href="#">系列鏡框</a></li>
                <li><a href="#">門市據點</a></li>
                <li><a href="#">部落格</a></li>
                <li><a href=" https://liu61024.github.io/week4/FAQ.html">常見問題</a></li>
            </ul>
        </div>
    </div>
</header>