.store-card{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 24px;
    margin-top: 40px;
    @include md{
        grid-template-columns: repeat(2, 1fr);
    }
    @include sm{
        grid-template-columns: repeat(1, 1fr);
    }
}

h2{
    color: #000;
    text-align: left;
    padding-left: 16px;
    border-left: 8px solid #9F1213;
    margin-top: 16px;
    @include md{
      font-size: 24px;   
    }
}

.store-option {
    margin-top: 32px;
}

.store-position{
    border: 1px solid #00000020;
    p{
        font-size: 24px;
        padding: 8px 0 8px 24px;
    }
}

.store-info{
    border: 1px solid #00000020;
    li:nth-of-type(1),  li:nth-of-type(2){
        margin-bottom: 8px;
    }
    padding: 16px 24px;
    span{
        width: 24px;
    }
    p{
        font-style: 20px;
    }
}

.store-btn{
    background: #000000;
    text-align: center;
    a{
        width: 100%;
        padding: 16px;
        color: white;
        &:hover{
            background: #9F1213;
            cursor: pointer;
        }
    }
}

