.p-80{
	padding-top: 80px ;
	padding-bottom: 80px;
}

.fs-16{
	font-size: 16px;
}
    
.d-flex{
	display: flex;
}
.flex-direction-c{
	flex-direction: column;	
}

.justify-content-s-b{
	justify-content: space-between;
}

.justify-content-c{
	justify-content: center;
}

.justify-content-f-e{
	justify-content: flex-end;
}

.align-items-c{
	align-items: center;
}

.align-items-f-e{
	align-items: flex-end;
}

.flex-wrap-w{
	flex-wrap: wrap;
}
